* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    overflow: hidden;
}

.birinci {
    margin-left: 0;
    width: 825px;
    height: 400px;
}

div {
    text-align: center;
    margin-left: 150px;
    /* border: 1px solid black; */
    width: 500px;
    height: 300px;
    background-color: white;
    padding-top: 30px;
}

a {
    text-align: center;
    color: red;
    padding: 10px 100px;
    margin: 30px 100px;

}

a:hover {
    transition: 1s;
    background-color: green;
    padding-bottom: 60px;
}